body {
  background-color: lightblue;
}
nav.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  margin-bottom: 0;
  top: 0;
}
.jumbotron {
  position: relative;
  height: 40vh;
  padding-top: 7%;

}
.jumbotron h1, .main-content {
  text-align: center;
}
#firstHamster {
  width: 10%;
  position: absolute;
  left: 2%;
  top: 20%;
}
#secondHamster {
  width: 10%;
  position: absolute;
  right: 2%;
  top: 20%;
}
my-bench {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

my-bench h2 {
  margin-top: 10%;
}

.main-form {
  text-align: left;
  padding-left: 15%;
}

img {
  width: 20%;
  margin: 0 auto;
  display: block;
}
